.showUsersTable {
  margin-top: 3rem;
  background: linear-gradient(225deg, #2f4256, #283848);
  box-shadow:  -16px 16px 32px #19232d,
  16px -16px 32px #3f5973;
  border-radius: 3rem;
  thead {
    tr {
      background-color: #34495e;
      th {
        padding: 1.5rem;
      }
      th:last-of-type {
        border-top-left-radius: 3rem;
      }
      th:first-of-type {
        border-top-right-radius: 3rem;
      }
    }
  }
  tbody {
    tr {
      transition: all .4s;
      td {
        padding: 1.5rem;
      }
      .actions {
        display: flex;
      }
    }
    tr:last-of-type {
      td:last-of-type {
        border-bottom-left-radius: 3rem;
      }
      td:first-of-type {
        border-bottom-right-radius: 3rem;
      }
    }
  }
  tr:nth-child(even){
    background-color: rgba(52, 73, 94, 0.9);
  }
}

.addUserForm {
  position: relative;
  width: 900px;
  height: 500px;
  button {
    position: absolute;
    left: -24px;
    bottom: -45px;
    font-size: 6rem;
    color: dodgerblue;
    transition: all .2s;
  }
  button:hover {
    color: #0066ff;
  }
  .closeBtn {
    position: absolute;
    top: 0;
    right: .5rem;
    transform: rotate(45deg);
    transition: all .2s;
  }
  .closeBtn:hover {
    transform: rotate(225deg);
  }
}